body,div,p,ul,li{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
li{ 
    list-style: none;
}
strong{
    font-size: 17px;
}
.header, .timer, .container ,.footer,.big_header{
    width: 100%;
    min-width: 960px;
}
.header{
    z-index: 100;
    background: #ffffff;
    overflow: hidden;
}
#H{
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.big_header{
    height: 60px;
}
.fixed{
    position: fixed;
}
.header_container{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.nav li{
    float: left;
}
.nav li a{
    text-decoration: none;
    display: block;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color:#333333;
    font-weight: bold;
}
.nav .cqupt{
    width: 300px;
}
.nav .index a{
    width: 72px;
}

.nav .page_t a{
    background: #d0ea59;
    color: #50930c;
}

li[id^=login] {
    position: absolute;
    right: -120px;
    filter:alpha(opacity=100);
}
li[id^=login] a{
    cursor: pointer;
    color: #ff9e4d;
}

.nav li a:hover {
    color: #50930c;
}
.nav .last a{
    width: 88px;
}
.cqupt img{
    float: left;
    margin-top: 16px;
}

.nav:after{
    content: "";
    display: block;
    clear: both;
}
.timer{
    height: 426px;
    position: relative;
}
.timer > img{
    width: 100%;
    min-width: 960px;
    height: 426px;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0; 
}
.timer_container{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.timer_container > img{
    position: absolute;
}
.logo{
    width: 659px;
    height: 296px;
    padding: 32px 0 0 220px;
    background: url("../image/map/maplogo.png") no-repeat 220px 32px;
}
.count_down{
    width: 730px;
    height: 240px;
    position: relative;
    top: -82px;
    left: 175px;
    background: url("../image/index/countdown/count_down.png") no-repeat;
}
.count_down div{
    padding-top: 78px;
}
.count_down div p{
    padding-left: 110px;
}
.count_down span{
    font-size: 32px;
    line-height: 52px;
    font-weight: bold;
    color: #2c98ca;
    position: relative;
}
.count_down div p .number span{
    margin-right: 4px;
    padding:1px 3px;
    background: #ffffff;
    border-radius: 6px;
    color: #ffb608;
}
.count_down div p .timer{
    font-size: 22px;
    margin-left: -8px;
    top: -2px;

}
.cloud01{
    top: 94px;
    left: -70px;
}
.cloud02{
    top: 56px;
    right: 62px;
}
.cloud03{
    top: 68px;
    left: 180px;
}
.cloud04{
    top: 223px;
    right: -30px;
}
.line{
    width: 98.64%;
    top: 394px;
    left: 0;
    z-index: 0;
}
.hotball {
    top: 235px;
    left: 190px;
}
.car{
    top: 420px;
    left: 15%;
}
.container{
    position: relative;
    height: 1047px;
    min-width: 960px;
    overflow: hidden;
}

.container_content {
    width: 960px;
    margin: 0px auto;
    position: relative;
    padding-top: 109px;
}

.container > img{
    width: 100%;
    height: 1046px;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0; 
}

.container_content .line_right01{
    position: absolute;
    right: -67px;
    top: 269px;
}

.container .grass {
    position: absolute;
    left: -102px;
    top: 689px;
    z-index: -1;
}

.mapwrapper{
    position: relative; 
    width: 972px;
    height: 717px;
    margin: 0 auto;
    top: 11.5%;
}

.mapwrapper .mapbg {
    width: 100%;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0; 
}

.mapwrapper .maptitle {
    position: absolute;
    left: 400px;
    top: -60px;
}

.mapwrapper >a {
    position: absolute;
    left: 355px;
    top: 23px;
    z-index: 1;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background: #FFF3B6;
    color: #FF6F30;
    background-repeat: no-repeat;
    font-size: 20px;
}

#btu_3D{
    left: 485px;
}
.mapwrapper .active {
    background: url("../image/map/maptotal.png");
    color: #fff;
}

.mapstatic {
    position: absolute;
    margin: auto;
    left: 0; top: 40px; right: 0;bottom: 0;
    width: 912px;
    height: 620px;
    overflow: hidden;
}
.page{
    height: 620px;
    width: 912px;
    background-color: #fffbbe;
}
.page_top{
    height: 50px;
    background-color: #fceea6;
    width: 912px;
    margin: 0 auto;
    position: relative;
}
.page_ul{
    text-align: center;
    width: 912px;
    height: 50px;
}
.page_li_first{
    display: inline-block;
    line-height: 42px;
    color: #ff6f30;
    font-size: 17px;
}
.page_li{
    display: inline-block;
    line-height: 50px;
    color: #ff6f30;
    font-size: 17px;
    margin-left:57px; 
    width: 68px;
}
.page_li_first{
    display: inline-block;
    line-height: 50px;
    color: #ff6f30;
    font-size: 17px;
}
.page_ul a{
    cursor: pointer;
}
.page_active{
    display: inline-block;
    line-height: 33px;
    font-size: 17px;
    margin: 0 -17px;
    background: url("../image/page_bg.png");
    width: 102px;
    height: 33px;
    color: #fff
}

.page_mid_big{
    position: relative;
    height: 520px;
    width: 912px;
}
.an_page_mid{
    width: 912px;
    height: 530px;
    background-color:#fffbbe; 
    position: absolute;
}
.an_page_mid p{
    height: 37px;
    border-bottom: 1px solid #fceea6;
    line-height: 37px;
    background-color:#fffbbe;
    color: #906049; 
}
.page_mid{
    width: 912px;
    height: 530px;
    background-color:#fffbbe; 
    position: absolute;
}
.setleft{
    margin-left: 55px;
}

.page_mid p{
    height: 37px;
    border-bottom: 1px solid #fceea6;
    line-height: 37px;
    background-color:#fffbbe;  
    color: #906049; 
}
.page_mid_mid{
    width: 912px;
    height: 530px;
}
.page_mid_mid p{
    margin: 0 54px; 
    font-size: 14px;
}
.page_mid_mid_ul{
    height: 530px;
    position: absolute;
}
.page_mid_mid li{
    border-bottom: 1px solid #fceea6;
    height: 37px;
    line-height: 37px;
}
.page_num{
    position: absolute;
}
.page_mid_ul{
    width: 912px;
    height: 250px;
}
.page_mid_ul_bottom{
    width: 912px;
    height: 280px;
    overflow: hidden;
}
.page_mid_li{
    width: 304px; 
    float: left;
}
.page_mid_li p{
    margin-left: 55px; 
    font-size: 15px;
    border-bottom: 0;
}
.page_mid_li li{
    border-bottom: 1px solid #fceea6;
}
.page_bottom{
    width: 912px;
    height: 44px;
    background-color: #fceea6; 
    position: relative;
}
.page_bottom_ul{
    text-align: center;
    width: 912px;
    line-height: 44px;
}

.page_bottom_li{
    display: inline-block;
    color: #fff;
    margin: 0 4px;
    line-height: 44px;
}
.page_bottom_li_special{
    display: inline-block;
    color: #fff;
    margin: 0 8px;
    line-height: 44px;
}
.page_bottom_ul a{
    background:url("../image/page_choose.png");
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    cursor: pointer;
}
a.page_bottom_spe{
    background:url("../image/page_choose_blue.png");
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    cursor: pointer;
}
.center {
    text-align: center;
    width: 100%;
}
#D3map{
    display: none;
    height: 912px;
    width: 586px;
}
.stu_li{
    display: inline-block;
    line-height: 53px;
    color: #ff6f30;
    font-size: 14px;
    margin-left:24px; 
    width: 102px;
}
.stu_li_active{
    display: inline-block;
    line-height: 33px;
    font-size: 14px;
    background-color: #FF6F30;
    border: 1px solid #ff6f30 ;
    border-radius: 6px;
    width: 100px;
    height: 33px;
    color: #fff
}
.stu_li_active_spe{
    display: inline-block;
    line-height: 33px;
    font-size: 14px;
    background: url("../image/page_bg.png") ;
    width: 80px;
    height: 33px;
    color: #fff
}
#an_page_bottom_spe{
    background:url("../image/page_choose_blue.png");
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    cursor: pointer;
}
.footer{
    margin-top: -156px;
    min-width: 960px;
    background: #ffffff;
}
.footer_content{
    width: 960px;
    margin: 0 auto;
}
.b{
    padding-top: 45px;
}
.footer_content a{
    text-decoration: none;
    color: #78a43c;
    line-height: 30px;
}
.footer_content p{
    text-align: center;
    color: #78a43c;
    line-height: 30px;
}
.footer_content p span{
    margin: 0 20px;
}
#go_top{
    position: fixed;
    right: 40px;
    bottom: 100px;
    display: block;
    width: 78px;
    height: 96px;
    background: url("../image/global/go_top.png");
    opacity: 0;
    filter:alpha(opacity=0);
}

#login_page_father{
    width: 450px;
    height: 280px;
    position: fixed;
    left: 50%;
    top: -280px;
    margin-left: -225px;
    z-index: 10000;
    overflow: hidden;
    opacity: 0;
    filter:alpha(opacity=0);
    display: none;
}
#login_page_father > img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}
#login_page_father #login_content{
    text-align: center;
}
#login_page_father #login_content > img{
    margin-top: 30px;
    position: relative;
    left: 30px;
}
#close{
    display: block;
    width: 23px;
    height: 23px;
    background: url("../image/login/close.png");
    float: right;
    margin: 30px 30px 0 0;
}
#login_page_father #login_content div{
    width: 275px;
    height: 40px;
    position: absolute;
    left: 91px;
}
#user_name_d{
    top: 72px;
    filter:alpha(opacity=100);
}
#password_d{
    top: 132px;
    filter:alpha(opacity=100);
}
#login_page_father #login_content div input{
    width: 183px;
    height: 20px;
    border: none;
    padding: 10px 46px;
    border-radius: 6px;
}
.l{
    position: absolute;
    top: 8px;
    left: 8px;
}
#login_sub{
    width: 185px;
    height: 40px;
    position: absolute;
    display: block;
    top: 200px;
    left: 137px;
    background: url("../image/he.png");
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height:40px;
    filter:alpha(opacity=100);
    border-radius: 6px;
}
#warming{
    width: 450px;
    position: absolute;
    top: 140px;
    text-align: center;
    color: rgb(53,122,199);
    font-size: 20px;
    font-weight: bold;
    display: none;
    opacity: 0;
    filter:alpha(opacity=0);
}
#phone_d{
    width: auto !important;
    position: absolute;
    top: 112px;
    left: 36px !important;
    opacity: 0;
    filter:alpha(opacity=0);
    z-index: -100;
}
#phone{
    width: 254px !important;
    float: left;
    padding: 10px 10px !important;
}
#qq_d{
    width: auto !important;
    position: absolute;
    top: 172px;
    left: 40px !important;
    opacity: 0;
    filter:alpha(opacity=0);
    z-index: -100;
}
#qq{
    width: 254px !important;
    float: left;
    padding: 10px 10px !important;
}
#behavior_d{
    position: absolute;
    left: 36px !important;
    top: 232px;
    opacity: 0;
    filter:alpha(opacity=0);
}
#behavior_d div{
    width: 400px !important;
    position: relative;
    top: 40px;
    left: 20px !important;
}
#behavior_d div a{
    width: 70px;
    height: 30px;
    background: #5cb3dc;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: block;
    float: left;
    border-radius: 6px;
    margin: 0 18px 18px 0;
}
#skip,#yes{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 158px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background: url("../image/he.png");
    position: absolute;
    top: 390px;
    opacity: 0;
    filter:alpha(opacity=0);
    z-index: -100;
    border-radius: 6px;
}
#skip{
    left: 44px;
}
#yes{
    left: 236px;
}
#wap{
    width: 100%;
    height: 2773px;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.2;
    filter:alpha(opacity=20);
    z-index: 10000;
    display: none;
}