<div class="footer">
	<div class="footer_content">
		<p class="b">
			<a href="">
				关于红岩网校
			</a>    
			<span>|</span>    
			<a href="">
				网站地图
			</a>    
			<span>|</span>   
			<a href="">
				指出错误
			</a>    
			<span>|</span>    
			<a href="">
				管理入口
			</a>    
			<span>|</span>
		</p>
		<p>
			本网站由红岩网校工作站负责开发，管理，不经红岩网校委员会书面同意，不得进行转载
		</p>
		<p style="padding-bottom:46px;">
			地址：重庆市南岸区崇文路2号（重庆邮电大学内） 400065 E-mail :redrock@cqupt.edu.cn (023-62461084)
		</p>
	</div>
</div>
<script>var http = "{:U('login')}"</script>
<script src="__PUBLIC__/js/demo.js"></script>