<div class="footer">
	<div class="footer_content">
		<p class="b">
			<a href="">
				关于红岩网校
			</a>    
			<span>|</span>    
			<a href="">
				网站地图
			</a>    
			<span>|</span>   
			<a href="">
				指出错误
			</a>    
			<span>|</span>    
			<a href="">
				管理入口
			</a>
		</p>
		<p>
			本网站由红岩网校工作站负责开发，管理，不经红岩网校委员会书面同意，不得进行转载
		</p>
		<p style="padding-bottom:46px;">
			地址：重庆市南岸区崇文路2号（重庆邮电大学内） 400065 E-mail :redrock@cqupt.edu.cn (023-62461084)
		</p>
	</div>
</div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://202.202.43.41/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "15"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<script>var http = "{:U('login')}"</script>
<script src="__PUBLIC__/js/demo.js"></script>