<!doctype html>
<html>
<head>
	<title>首页</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
</head>
<body>
	<include file="Public:header" />
	<div class="timer">
		<img class="t_bg" src="__PUBLIC__/image/global/timer_bg.png">
		<div class="timer_container">
			<img class="tree_right" src="__PUBLIC__/image/global/tree_right.png">
			<img id="cloud01" class="cloud01" src="__PUBLIC__/image/global/cloud01.png">
			<img id="cloud02" class="cloud02" src="__PUBLIC__/image/global/cloud02.png">
			<img id="cloud03" class="cloud03" src="__PUBLIC__/image/global/cloud03.png">
			<img id="cloud04" class="cloud04" src="__PUBLIC__/image/global/cloud04.png">
			<img id="cloud05" class="cloud05" src="__PUBLIC__/image/global/cloud05.png">
			<div class="logo" id = "logo"></div>
			<div class="count_down" id = "count_down">
				<div>
					<p>	
						<span>开学倒计时</span>
						<span id="days" class="number">
							<img src="__PUBLIC__/image/index/countdown/transparent.png">
							<img src="__PUBLIC__/image/index/countdown/transparent.png">
						</span>
						<span class="timer">天</span>
						<span id="hour" class="number">
							<img src="__PUBLIC__/image/index/countdown/transparent.png">
							<img src="__PUBLIC__/image/index/countdown/transparent.png">
						</span>
						<span class="timer">时</span>
						<span id="branch" class="number">
							<img src="__PUBLIC__/image/index/countdown/transparent.png">
							<img src="__PUBLIC__/image/index/countdown/transparent.png">
						</span>
						<span class="timer">分</span>
						<span id="seconds" class="number">
							<img src="__PUBLIC__/image/index/countdown/transparent.png">
							<img src="__PUBLIC__/image/index/countdown/transparent.png">
						</span>
						<span class="timer">秒</span>
					</p>
				</div>
			</div>
			<img class="stone" src="__PUBLIC__/image/global/stone.png">
			<img class="car" src="__PUBLIC__/image/global/car.png">
			<img class="shaoma" id="shaoma" src="__PUBLIC__/image/index/shaoma.png">
			<img class="erweima" src="__PUBLIC__/image/index/erweima.png">
			<img src="__PUBLIC__/image/global/line_top.png" alt="" class="line_top">
		</div>
	</div>
	<div class="container">
		<img src="__PUBLIC__/image/ground.png">
		<div class="container_content">
			<div class="map" id="map">
				<div id="showInf">
					<div></div>
					<p>风雨操场</p>
				</div>
				<a id="taiji" class="dibiao"></a>
				<a id="laocao" class="dibiao"></a>
				<a id="fengyu" class="dibiao"></a>
				<a id="sanjiao" class="dibiao"></a>
				<a id="yifu" class="dibiao"></a>
				<a id="newGate" class="dibiao"></a>
				<a id="oldGate" class="dibiao"></a>
				<a id="oldLia" class="dibiao"></a>
				<a id="zidonghua" class="dibiao"></a>
				<img class="line_right01" src="__PUBLIC__/image/global/line_right01.png">
				<img class="line_left01" src="__PUBLIC__/image/global/line_left01.png">
				<img class="line_right02" src="__PUBLIC__/image/global/right_line02.png">
				<p>想了解学校食堂、寝室、图书馆的地理位置？想知道超市、教学楼、注册地点的方位在哪？这里提供重邮2D地图以及街景地图，让你在入学前提前领略学校的风光！</p>
				<a id="d01" class="total" href="{:U('Map/index')}">查看详情</a>
			</div>
			<div class="warp">
				<a class="prv" id="prv"></a>
				<ul>
					<li style="left:0px;"></li>
					<li style="left:740px;background:blue;"></li>
					<li style="left:1480px;background:green;"></li>
				</ul>
				<a class="nex" id="nex">  </a>
			</div>
			<div class="inf">
				<div class="show">
					<img src="__PUBLIC__/image/index/show_t.png">
					<img class="img01" src="__PUBLIC__/image/index/img01.png">
					<p>
						<span>
							提前了解未来的小伙伴！新生登陆后不仅可以找室友、找同学、找辅导员，还可以找与你志同道合的朋友哦！
						</span>
						<span class="line2">
							可以查看学校里与你同乡的比例、学校男女比例、学院男女比例以及家庭住址到学校距离排名，所在学院各专业去向统计。
						</span>
					</p>
					<a id="d6" class="total know_total" style="margin:36px 22px 0 0" href="{:U('Data/index')}">查看详情</a>
				</div>
				<div class="know">
					<img src="__PUBLIC__/image/know_t.png">
					<img class="img02" src="__PUBLIC__/image/index/img02.png">
					<p>
						<span>
							提供从火车站、机场等到学校的公交路线以及打车大致费用、寝室条件、新生群、班级群、老乡群、学校周围银行、超市、餐馆、酒店住宿等信息。
						</span>
						<span class="line2" style="margin-top:30px">
							没有参加学生组织的大学不是完整的大学！这里可以查看校级组织各部门的简介以及部分学生社团的简介，让你提前了解学校的学生组织！
						</span>
					</p>
					<a id="d5" class="total know_total" href="{:U('Page/index')}">查看详情</a>
				</div>
			</div>
			<div class="inf01">
				<img class="tree_car" src="__PUBLIC__/image/global/tree_car.png">
				<div class="we">
					<p>
						这里有五四之星的风采展示、还有重邮校园美景的照片、更有精彩的重邮原创视频！
					</p>
					<a id="d4" class="total de" href="{:U('Show/index')}">查看详情</a>
				</div>
				<div class="hi">
					<p>
						大声HI论坛给新生一个互相交流的平台。让新生在陌生的环境下不再孤单！快来发帖吧！
					</p>
					<a id="d3" class="total de" style="margin:88px 0 60px 114px" href="#">查看详情</a>
				</div>
				<div class="about_us">
					<p>
						红岩网校工作站简介。优秀内网展示、以及各种迎新活动专题。
					</p>
					<a id="d2" class="total de" style="margin:114px 0 60px 114px" href="#">查看详情</a>
				</div>
				<img class="gg" src="__PUBLIC__/image/global/gg.png">
				<a id="go_top" href="#"></a>
			</div>
		</div>
	</div>
	<include file="Public:footer" />
	<script src="__PUBLIC__/js/main.js"></script>
</body>
</html>