<div id="wap"></div>
<div id="login_page_father">
	<img src="__PUBLIC__/image/login_bg.png">
	<a id="close" href=""></a>
	<div id="login_content">
		<img id="login_logo" src="__PUBLIC__/image/new.png">
		<form action="" method="post">
			<div id="user_name_d">
				<img class="l" src="__PUBLIC__/image/login_img.png">
				<input id="user_name" type="text">
			</div>
			<div id="password_d">
				<img class="l" src="__PUBLIC__/image/pass_img.png">
				<input id="password" type="password">
			</div>
			<div id="phone_d">
				<img style="float:left;margin:10px 6px 0 0;" src="__PUBLIC__/image/phone.png">
				<input id="phone" type="text">
			</div>
			<div id="qq_d">
				<img style="float:left;margin:10px 6px 0 0;" src="__PUBLIC__/image/qq.png">
				<input id="qq" type="text">
			</div>
			<div id="behavior_d">
				<img style="float:left;" src="__PUBLIC__/image/behavior.png">
				<div>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
				</div>	
			</div>
		</form>
		<a id="login_sub" href="">登录</a>
		<a id="skip" href="">跳过</a>
		<a id="yes" href="">确认</a>
		<p id="warming">
			你输入的帐号/密码格式有误
		</p>
	</div>
</div>
<div class="big_header">
	<div class="header" id="header">
		<div class="header_container">
			<ul class="nav">
				<li class="cqupt">
					<img src="__PUBLIC__/image/cqupt.png">
					<img src="__PUBLIC__/image/cqupt_f.png">
				</li>
				<li class="index">
					<a href="#">首页</a>
				</li>
				<li>
					<a href="map.html">重邮地图</a>
				</li>
				<li>
					<a href="data.html">大数据</a>
				</li>
				<li>
					<a href="page.html">重邮百科</a>
				</li>
				<li>
					<a href="show.html">重邮风采</a>
				</li>
				<li>
					<a href="">大声HI</a>
				</li>
				<li class="last">
					<a href="">关于我们</a>
				</li>
				<li id="login">
					<a>新生登录</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="header" id="H">
		<div class="header_container">
			<ul class="nav">
				<li class="cqupt">
					<img src="__PUBLIC__/image/cqupt.png">
					<img src="__PUBLIC__/image/cqupt_f.png">
				</li>
				<li class="index">
					<a href="index.html">首页</a>
				</li>
				<li class="map">
					<a href="map.html">重邮地图</a>
				</li>
				<li>
					<a href="data.html">大数据</a>
				</li>
				<li>
					<a href="page.html">重邮百科</a>
				</li>
				<li>
					<a href="show.html">重邮风采</a>
				</li>
				<li>
					<a href="">大声HI</a>
				</li>
				<li class="last">
					<a href="">关于我们</a>
				</li>
				<li id="login2">
					<a>新生登录</a>
				</li>
			</ul>
		</div>
	</div>
</div>