<!doctype html>
<html>
<head>
    <title>重邮风采</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/slimbox2.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/slimbox2.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/windcolor.css">
</head>
<body>
    <include file="Public:header" />
    <div class="timer">
        <img src="__PUBLIC__/image/global/maptimerbg.png">
        <div class="timer_container">
            <img id="cloud01" class="cloud01" src="__PUBLIC__/image/global/cloud01.png">
            <img id="cloud02" class="cloud02" src="__PUBLIC__/image/global/cloud03.png">
            <img id="cloud03" class="cloud03" src="__PUBLIC__/image/global/cloud04.png">
            <img id="cloud04" class="cloud04" src="__PUBLIC__/image/global/cloud05.png">
            <div class="logo"></div>
            <img class="car" src="__PUBLIC__/image/global/car.png">
            <img src="__PUBLIC__/image/hotball.png"class="hotball">
            <img class="line"src="__PUBLIC__/image/global/map_line.png">
        </div>
    </div>
    <div class="container">
        <img src="__PUBLIC__/image/global/mapground.jpg">
        <div class="container_content">
            <img class="line_right01" src="__PUBLIC__/image/global/line_right01.png">
            <div class="mapwrapper">
                    <a class="active">重邮风采</a>
                <img src="__PUBLIC__/image/color_title.png" alt="" class="maptitle">
                <div class = "mapstatic">
                    <div id="D2map" class="page">
                        <div class="page_top">
                            <ul class="page_ul" id="color_ul">
                                <li class="page_li_first"><a >五四之星</a></li>
                                <li class="page_li"><a >优秀老师</a></li>
                                <li class="page_li"><a class="page_active">校园风物</a></li>
                                <li class="page_li"><a >原创视频</a></li>
                                
                            </ul>
                        </div>
                        <div class="page_mid_big" id="color_choose">
                            <div class="page_mid" style="display:none">
                                <ul class="page_img_ul" id="stu">
                                    <li class="page_img page_img_spe" ><a href="__PUBLIC__/image/person/person_1.png" rel="lightbox" title="孝老敬亲之星-蔡长庆"></a>
                                        <span >孝老敬亲之星-蔡长庆</span></li>
                                    <li class="page_img"><a href="__PUBLIC__/image/person/person_2.png" rel="lightbox" title="党员模范之星-王斌"></a>
                                        <span>党员模范之星-王斌</span></li>
                                    <li class="page_img"><a href="__PUBLIC__/image/person/person_3.png" rel="lightbox" title="才艺特长之星-张永晖"></a>
                                        <span>才艺特长之星-张永晖</span></li>
                                    <li class="page_img"><a href="__PUBLIC__/image/person/person_4.png" rel="lightbox" title="健康运动之星-高全利"></a>
                                        <span>健康运动之星-高全利</span></li>
                                    <li class="page_img" style="margin-top:67px;"><a href="__PUBLIC__/image/person/person_5.png" rel="lightbox" title="网络建设之星-蒋子良"></a>
                                        <span>网络建设之星-蒋子良</span></li>
                                    <li class="page_img" style="margin-top:67px;"><a href="__PUBLIC__/image/person/person_6.png" rel="lightbox" title="科技创新之星-叶升蔚"></a>
                                        <span>科技创新之星-叶升蔚</span></li>
                                    <li class="page_img" style="margin-top:67px;"><a href="__PUBLIC__/image/person/person_7.png" rel="lightbox" title="自立自强之星-阮福亮"></a>
                                        <span>自立自强之星-阮福亮</span></li>
                                    <li class="page_img" style="margin-top:67px;"><a href="__PUBLIC__/image/person/person_8.png" rel="lightbox" title="勤奋好学之星-肖颖"></a>
                                    <span>勤奋好学之星-肖颖</span></li>
                                </ul>
                                <div class="page_bottom">
                                    <ul class="page_bottom_ul">
                                    </ul>
                                </div>
                            </div>
                            <div class="page_mid" style="display:none">
                                <div style="height:500px;" id="teacher_page">
                                    <div class="page_fix" style="display:block" >
                                        <ul class="page_img_ul" id="teacher_1">
                                            <li class="page_img" ><a rel="lightbox" href="__PUBLIC__/image/teacher/teacher_1.jpg" title="传媒艺术学院-王睿"></a>
                                                <span >传媒艺术学院-王睿</span></li>
                                            <li class="page_img"><a  rel="lightbox" href="__PUBLIC__/image/teacher/teacher_2.jpg" title="体育学院-王樱桃"></a>
                                                <span>体育学院-王樱桃</span></li>
                                            <li class="page_img"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_3.jpg" title="自动化学院-付蔚"></a>
                                                <span>自动化学院-付蔚</span></li>
                                            <li class="page_img"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_4.jpg" title="理学院-朱伟"></a>
                                                <span>理学院-朱伟</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_5.jpg" title="理学院-张清华"></a>
                                                <span>理学院-张清华</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_6.jpg" title="马克思主义学院-闵绪国"></a>
                                                <span>马克思主义学院-闵绪国</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_7.jpg" title="传媒艺术学院-陈祺祺"></a>
                                                <span>传媒艺术学院-陈祺祺</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  rel="lightbox" href="__PUBLIC__/image/teacher/teacher_8.jpg" title="生物信息学院-袁帅"></a>
                                            <span>生物信息学院-袁帅</span></li>
                                        </ul>
                                    </div>
                                    <div class="page_fix" style="display:none" >
                                        <ul class="page_img_ul" id="teacher_2">
                                            <li class="page_img page_img_spe" ><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_9.jpg" title="外国语学院-高非"></a>
                                                <span >外国语学院-高非</span></li>
                                            <li class="page_img"><a  rel="lightbox" href="__PUBLIC__/image/teacher/teacher_10.jpg" title="通信与信息工程学院-漆晶"></a>
                                                <span>通信与信息工程学院-漆晶</span></li>
                                            <li class="page_img"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_11.jpg" title="理学院-周贤菊"></a>
                                                <span>理学院-周贤菊</span></li>
                                            <li class="page_img"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_12.jpg" title="光电工程学院-罗元"></a>
                                                <span>光电工程学院-罗元</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_13.jpg" title="理学院-郑继明"></a>
                                                <span>理学院-郑继明</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_14.jpg" title="通信与信息工程学院-胡庆"></a>
                                                <span>通信与信息工程学院-胡庆</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_15.jpg" title="体育学院-高冬"></a>
                                                <span>体育学院-高冬</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  rel="lightbox" href="__PUBLIC__/image/teacher/teacher_16.jpg" title="法学院-彭学良"></a>
                                            <span>法学院-彭学良</span></li>
                                        </ul>
                                    </div>
                                     <div class="page_fix" style="display:none" >
                                        <ul class="page_img_ul" id="teacher_3">
                                            <li class="page_img page_img_spe" ><a   rel="lightbox" href="__PUBLIC__/image/teacher/teacher_17.jpg" title="通信与信息工程学院-蒋青"></a>
                                                <span >通信与信息工程学院-蒋青</span></li>
                                            <li class="page_img"><a  rel="lightbox" href="__PUBLIC__/image/teacher/teacher_18.jpg" title="计算机科学与技术学院-熊安萍"></a>
                                                <span style="font-size:13px;">计算机科学与技术学院-熊安萍</span></li>
                                            <li class="page_img"><a  rel="lightbox" href="__PUBLIC__/image/teacher/teacher_19.jpg" title="外国语学院-张琬悦"></a>
                                                <span>外国语学院-张琬悦</span></li>
                                            <li class="page_img"><a  rel="lightbox" href="__PUBLIC__/image/teacher/teacher_20.jpg" title="马克思主义学院-周兴茂"></a>
                                                <span>马克思主义学院-周兴茂</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="page_bottom">
                                    <ul class="page_bottom_ul" id="teacher_choose">
                                        <li class="page_bottom_li_special"><a style="display: none"><</a></li>
                                        <li class="page_bottom_li"><a class="page_bottom_spe">1</a></li>
                                        <li class="page_bottom_li"><a>2</a></li>
                                        <li class="page_bottom_li"><a>3</a></li>
                                        <li class="page_bottom_li_special"><a>></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="page_mid" >
                                <div style="height:500px;" id="pic_main">
                                    <div class="page_fix" style="display:block;">
                                        <ul class="page_img_ul" id="win_img_1">
                                            <li class="page_img page_img_spe" ><a  href="__PUBLIC__/image/color/color_0.jpg" rel="lightbox" title="春华秋实"></a>
                                                <span >春华秋实</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_1.jpg" rel="lightbox" title="二教夕阳"></a>
                                                <span>二教夕阳</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_2.jpg" rel="lightbox" title="仰望八教"></a>
                                                <span>仰望八教</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_3.jpg" rel="lightbox" title="情人坡"></a>
                                                <span>情人坡</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_4.jpg" rel="lightbox" title="林荫大道"></a>
                                                <span>林荫大道</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_5.jpg" rel="lightbox" title="高山流水"></a>
                                                <span>高山流水</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_6.jpg" rel="lightbox" title="落英缤纷"></a>
                                                <span>落英缤纷</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_7.jpg" rel="lightbox" title="数字图书馆"></a>
                                                <span>数字图书馆</span></li>
                                        </ul>
                                    </div>
                                    <div class="page_fix" style="display:none;">
                                        <ul class="page_img_ul" id="win_img_2">
                                            <li class="page_img page_img_spe" ><a  href="__PUBLIC__/image/color/color_8.jpg" rel="lightbox" title="鸟瞰重邮"></a>
                                                <span >鸟瞰重邮</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_9.jpg" rel="lightbox" title="别有洞天"></a>
                                                <span>别有洞天</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_10.jpg" rel="lightbox" title="三教门口"></a>
                                                <span>三教门口</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_11.jpg" rel="lightbox" title="逸夫楼"></a>
                                                <span>逸夫楼</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a href="__PUBLIC__/image/color/color_12.jpg" rel="lightbox" title="逸夫楼"></a>
                                                <span>逸夫楼</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_13.jpg" rel="lightbox" title="林荫大道"></a>
                                                <span>林荫大道</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_14.jpg" rel="lightbox" title="二教"></a>
                                                <span>二教</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_15.jpg" rel="lightbox" title="雨红莲"></a>
                                                <span>雨红莲</span></li>
                                        </ul>
                                    </div>
                                    <div class="page_fix" style="display:none;">
                                        <ul class="page_img_ul" id="win_img_3">
                                            <li class="page_img page_img_spe" ><a  href="__PUBLIC__/image/color/color_16.jpg" rel="lightbox" title="二教全景"></a>
                                                <span >二教全景</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_17.jpg" rel="lightbox" title="八十万"></a>
                                                <span>八十万</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_18.jpg" rel="lightbox" title="武装部"></a>
                                                <span>武装部</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_19.jpg" rel="lightbox" title="第四教学楼"></a>
                                                <span>第四教学楼</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_20.jpg" rel="lightbox" title="数字图书馆"></a>
                                                <span>数字图书馆</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_21.jpg" rel="lightbox" title="老图书馆"></a>
                                                <span>老图书馆</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_22.jpg" rel="lightbox" title="校园一角"></a>
                                                <span>校园一角</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a  href="__PUBLIC__/image/color/color_23.jpg" rel="lightbox" title="校医院"></a>
                                                <span>校医院</span></li>
                                        </ul>
                                    </div>
                                    <div class="page_fix" style="display:none;">
                                        <ul class="page_img_ul" id="win_img_4">
                                            <li class="page_img page_img_spe" ><a href="__PUBLIC__/image/color/color_24.jpg" rel="lightbox" title="中心食堂一楼"></a>
                                                <span >中心食堂一楼</span></li>
                                            <li class="page_img"><a  href="__PUBLIC__/image/color/color_25.jpg" rel="lightbox" title="太极操场"></a>
                                                <span>太极操场</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="page_bottom">
                                    <ul class="page_bottom_ul" id="pic_btn">
                                        <li class="page_bottom_li_special"><a style="display: none"><</a></li>
                                        <li class="page_bottom_li"><a class="page_bottom_spe">1</a></li>
                                        <li class="page_bottom_li"><a>2</a></li>
                                        <li class="page_bottom_li"><a>3</a></li>
                                        <li class="page_bottom_li"><a>4</a></li>
                                        <li class="page_bottom_li_special"><a>></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="page_mid" style="display:none">
                                <div style="height:500px;" id="choose_video">
                                    <div class="page_fix" style="display:block" >
                                        <ul class="page_img_ul" id="video">
                                            <li class="page_img page_img_spe" ><a  href="http://v.youku.com/v_show/id_XNzExODM3Njk2.html?from=y1.2-1-95.3.12-2.1-1-1-11-0 "  target="_blank"></a>
                                                <span >看见重邮</span></li>
                                            <li class="page_img"><a href="http://v.youku.com/v_show/id_XMTI2NjE0MDcwNA==.html?from=s1.8-1-1.2 "  target="_blank"></a>
                                                <span>"重邮版"时间都去哪了</span></li>
                                            <li class="page_img"><a href="http://v.youku.com/v_show/id_XNjA4NjQwMzY4.html?from=s1.8-1-1.2" target="_blank"></a>
                                                <span>红岩网校15年宣传视频</span></li>
                                            <li class="page_img"><a href="http://v.youku.com/v_show/id_XNzA0MDc2ODA0.html?from=s1.8-1-1.1" target="_blank"></a>
                                                <span>舌尖上的重邮第一集</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a href="http://v.youku.com/v_show/id_XNDAzNzQ1MjA4.html?from=s1.8-1-1.1" target="_blank"></a>
                                                <span>舌尖上的重邮第二集</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a href="http://v.youku.com/v_show/id_XNDMyNTIzMzAw.html?from=s1.8-1-1.1" target="_blank"></a>
                                                <span>舌尖上的重邮第三集</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a href="http://v.youku.com/v_show/id_XNzIxODU1OTYw.html?from=s1.8-1-1.1" target="_blank"></a>
                                                <span>爆笑大学</span></li>
                                            <li class="page_img" style="margin-top:67px;"><a href="http://v.youku.com/v_show/id_XMTI4MjA1NjM4MA==.html?from=s1.8-1-1.2" target="_blank"></a>
                                                <span>军训特辑</span></li>
                                        </ul>
                                    </div>
                                    <div class="page_fix" style="display:none;">
                                        <ul class="page_img_ul" id="video1">
                                            <li class="page_img page_img_spe" ><a  href="http://v.youku.com/v_show/id_XMTI4ODMxNjEwOA==.html?from=s1.8-1-1.2 " target="_blank" ></a>
                                                <span >军训实拍</span></li>
                                            <li class="page_img"><a  href="http://v.youku.com/v_show/id_XNDY2MTA3MjIw.html?from=s1.8-1-1.2 "  target="_blank"></a>
                                                <span>十大歌手</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="page_bottom">
                                    <ul class="page_bottom_ul" id="video_btn">
                                        <li class="page_bottom_li_special"><a style="display: none"><</a></li>
                                        <li class="page_bottom_li"><a class="page_bottom_spe">1</a></li>
                                        <li class="page_bottom_li"><a>2</a></li>
                                        <li class="page_bottom_li_special"><a>></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <img src="__PUBLIC__/image/global/grass.png" class = "grass">
            </div>
        </div>
        <a id="go_top" href="#"></a>
    </div>
    <include file="Public:footer" />
    <script src="__PUBLIC__/js/windcolor.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=d84d6d83e0e51e481e50454ccbe8986b"></script>
</body>
</html>
